<!DOCTYPE html>
<head>
<script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>

<title>AR Quicklook Exsample</title>    
</head>
<body>
    <div class="flex-container">
        <div style="text-align: center">
            <h1 style="font-size: 80px; font-family: Arial, Helvetica, sans-serif">AR Quicklook Example</h1>
            <a rel="ar" href="heart.usdz"> 
                <img style="width: 80vw;" src="previewImage.jpg"> 
            </a>
        </div>
    </div>
    
    <div>
        <model-viewer
              loading="eager"
              camera-controls
              ar
              ar-modes="webxr scene-viewer quick-look"
              poster="yshiuan_c.png"        
              src="yshiuan_c.glb"
              ios-src="yshiuan_c.usdz"
              alt="yshiuan_c"
              >
        </model-viewer>
    </div>


</body>
</html>

<style>
.flex-container {
display: flex;
justify-content: center;
flex-direction: vertical;
}
</style>
